<!DOCTYPE html>
<html>
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="app.js"></script>
<script src="webservice.js"></script>
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/font-awesome-4.6.2/css/font-awesome.min.css">
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>





<body ng-app="myapp">

  <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart" ng-controller="LineCtrl">
    <div class="panel panel-default">
      <div class="title">Maker Sensor</div>
        <div class="panel-body">
          <div class="chart-container"><canvas id="line" class="chart chart-line ng-isolate-scope" chart-data="data" chart-labels="labels" chart-legend="true" chart-click="onClick" chart-hover="onHover" chart-series="series" height="454" width="908" style="width: 908px; height: 454px;"></canvas>
          </div>
        </div>
      </div>

      <div>
        <table style="width:100%">
          <tr>
            <td class="boldtag"><a href="#" ng-click="sortType = 'labels'; sortReverse = !sortReverse">TimeStamp<span ng-show="sortType == 'labels' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'ID' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>
            <td class="boldtag"><a href="#" ng-click="sortType = 'data'; sortReverse = !sortReverse">Value<span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>
          </tr>
          <tr ng-repeat="value in values | orderBy:sortType:sortReverse">
            <td>{{ value[0] | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ value[1] }}</td>
          </tr>
        </table>


		</div>
  </div>

</body>
</html>
